<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="/FootballSystem/resources/css/dashboard.css" rel="stylesheet">
	<link href="/FootballSystem/resources/css/game.css" rel="stylesheet">

	<link href="/FootballSystem/resources/css/tab.css" rel="stylesheet">
	<title>足协后台管理系统</title>

</head>

<body>

	<div class="container-fluid" id="app">

		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<select id="cupId" class="form-control" name="cupId">
						<option value="" id="chooseSelect">选择赛事</option>
						<option v-if="cuplist.length!=0" v-for="(item, index) in cuplist" :value="item.cupId" :grouped="item.isGroup">{{item.cupName}}</option>
					</select>
				</div>

			</div>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-primary" type="button" id="groupBtn" data-toggle="modal" data-target="#messageModal"
					 disabled="disabled">安排赛程</button>
				</div>
				<div class="btn-group mr-2">
					<button class="btn btn-primary" type="button" id="delBtn" data-toggle="modal" data-target="#deleteModal" disabled="disabled">删除分组及赛程分配</button>
				</div>


			</div>


			<h2 class="header">赛程表</h2>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary" onclick="javascript:window.location.reload();">刷新</button>
				</div>

			</div>
		</div>
		<div class="game-row-h60">
			<div class="w70">
				<div class="card-final">冠亚军</div>
				<h2 class="card-final-block">决赛</h2>
				<div class="card-final">冠亚军</div>
			</div>
		</div>
		<br> <br>
		<div class="game-row-h50">
			<div class="w85">
				<div class="card-half">六进三</div>
				<div class="card-half">六进三</div>
				<div class="card-half-block"></div>
				<div class="card-half">六进三</div>
				<div class="card-half bg-gray">复活队伍</div>
			</div>
		</div>
		<br> <br>
		<div class="game-row-h42">
			<div class="w95">
				<div class="card-six">九进六</div>
				<div class="card-six">九进六</div>
				<div class="card-six-block"></div>
				<div class="card-six">九进六</div>
				<div class="card-six">九进六</div>
				<div class="card-six-block"></div>
				<div class="card-six">九进六</div>
				<div class="card-six">九进六</div>
			</div>
		</div>


		<br>
		<h2 class="header">分组</h2>
		<div class="game-row-h150">
			<div class="w70">
				<div class="card-group-head">
					<div class="card-group bg-gray">A</div>
					<div class="card-group" v-for="(item, index) in datalist" v-if="item.teamGroup=='A'">{{ item.teamName}}</div>
				</div>
				<div class="card-group-block"></div>
				<div class="card-group-head" id="groupB">
					<div class="card-group bg-gray">B</div>
					<div class="card-group" v-for="(item, index) in datalist" v-if="item.teamGroup=='B'">{{ item.teamName}}</div>
				</div>
				<div class="card-group-block"></div>
				<div class="card-group-head" id="groupC">
					<div class="card-group bg-gray">C</div>
					<div class="card-group" v-for="(item, index) in datalist" v-if="item.teamGroup=='C'">{{ item.teamName}}</div>
				</div>
			</div>
		</div>
		<br>


		<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="messageModal">安排赛程</h5>
					</div>
					<div class="modal-body" id="modalBody">正在随机分组中,请稍等...</div>
					<div v-bind:style="{ display: messageShow?'inline':'none' }">
						<div class="p-3 mb-2  text-white" v-bind:class="msgClass">{{message}}</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal" style="display: none;" id="closeBtn">取消</button>
						<button type="button" class="btn btn-primary" id="messageBtn" disabled>分配赛程表</button>

					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">安排赛程</h5>
					</div>
					<div class="modal-body" id="modalBody">
						<div class="p-3 mb-2 bg-danger text-white">该赛事暂无赛程表,请点击按钮安排赛程.</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">确定删除？</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">你确定要删除该赛事的赛程分组及赛程表吗？</div>
					<div v-bind:style="{ display: messageShow?'inline':'none' }">
						<div class="p-3 mb-2  text-white" v-bind:class="msgClass">{{message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="deleteObj">确认删除</button>
					</div>
				</div>
			</div>
		</div>



	</div>





	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://lib.baomitu.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/FootballSystem/resources/js/loadingUtils.js"></script>
	<script src="/FootballSystem/resources/js/admin/game.js"></script>




</body>

</html>