<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<title>足协后台管理系统</title>
	<style>
		.edit {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/FootballSystem/resources/image/icon-edit.png)
}

.delete {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(/FootballSystem/resources/image/icon-delete.png)
}
</style>
</head>

<body>

	<div class="container-fluid" style="height:auto;" id="app">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
			<h1 class="h2">管理员管理</h1>
			<div class="btn-toolbar mb-2 mb-md-0">
				<div class="btn-group mr-2">
					<button class="btn btn-sm btn-outline-secondary" onclick="javascript:window.location.reload();">刷新</button>
				</div>

			</div>
		</div>
		<div class="input-group mb-3">
			<button type="button" class="btn btn-primary mr-3" data-toggle="modal" data-target="#inputModal">新增</button>
			<button type="button" class="btn btn-primary mr-3" data-type="list" data-toggle="modal" data-target="#deleteModal">删除</button>
		</div>
		<div class="table-responsive">
			<table class="table  table-hover table-bordered table-sm" id="datalist" style="table-layout: fixed;">
				<thead>
					<tr id="cboxhead">
						<th>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input">
								<label class="custom-control-label" for="cboxhead">全选</label></div>
						</th>
						<th>用户名</th>
						<th>密码</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item, index) in datalist" v-if="datalist.length!=0">
						<td>
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input cboxlist" :id="'checkbox'+index" :value="item.username">
								<label class="custom-control-label" :for="'checkbox'+index"> <a href="#" data-toggle="modal" data-target="#inputModal"
									 data-id="edit" :data-obj-id="item.username" class="edit"></a> <a href="#" data-toggle="modal" data-target="#deleteModal"
									 :data-id="item.username" class="delete"></a>
								</label>
							</div>
						</td>
						<td>{{item.username}}</td>
						<td>{{item.password}}</td>
					</tr>
				</tbody>
			</table>
			<nav aria-label="Page navigation" id="page">
				<div class="input-group" style="width: 100px; float: right;">
					<input type="number" class="form-control " min="1" value="1" id="pageIndexInput">
					<div class="input-group-append">
						<span class="input-group-text">页</span>
					</div>
				</div>
				<ul class="pagination justify-content-center" id="pageList">
				</ul>
			</nav>
		</div>
		<div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">

				<div class="modal-content">

					<div class="modal-header">

						<h5 class="modal-title" id="exampleModalLabel">管理员信息</h5>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form class="needs-validation was-validated" novalidate>
							<div class="form-group">
								<label for="username" class="col-form-label">用户名</label> <input type="text" class="form-control" id="username"
								 value="" required readonly>
								<div class="invalid-feedback">请输入用户名</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-form-label">密码</label> <input type="text" class="form-control" id="password"
								 required>
								<div class="invalid-feedback">请输入密码</div>
							</div>
						</form>
					</div>
					<div v-bind:style="{ display: messageShow?'inline':'none' }">
						<div class="p-3 mb-2  text-white" v-bind:class="msgClass">{{message}}</div>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="submitData">确定</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteModalLabel">确定删除？</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">你确定要删除该管理员,若系统内缺乏管理员账号,将会导致无法登陆.此操作不可逆转。</div>
					<div v-bind:style="{ display: messageShow?'inline':'none' }">
						<div class="p-3 mb-2  text-white" v-bind:class="msgClass">{{message}}</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="deleteObj">确认删除</button>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!-- Modal -->








	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://lib.baomitu.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/FootballSystem/resources/js/pageUtils.js"></script>
	<script src="/FootballSystem/resources/js/loadingUtils.js"></script>
	<script src="/FootballSystem/resources/js/admin/user.js"></script>
	<script src="/FootballSystem/resources/js/tableutil.js"></script>
</body>

</html>