<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.pypzx.FootballSystem.dao.GameMapper">
	<resultMap id="BaseResultMap"
		type="club.pypzx.FootballSystem.entity.Game">
		<!-- WARNING - @mbg.generated -->
		<id column="game_id" property="gameId" jdbcType="VARCHAR" />
		<result column="game_date" property="gameDate"
			jdbcType="TIMESTAMP" />
		<result column="team_home" property="teamHome"
			jdbcType="VARCHAR" />
		<result column="team_away" property="teamAway"
			jdbcType="VARCHAR" />
		<result column="cup_id" property="cupId" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="gameMap"
		type="club.pypzx.FootballSystem.dto.GameVo">
		<!-- WARNING - @mbg.generated -->
		<id column="game_id" property="gameId" jdbcType="VARCHAR" />
		<result column="game_date" property="gameDate"
			jdbcType="TIMESTAMP" />
		<result column="team_home" property="teamHome"
			jdbcType="VARCHAR" />
		<result column="team_away" property="teamAway"
			jdbcType="VARCHAR" />
		<result column="cup_name" property="cupName" jdbcType="VARCHAR" />
	</resultMap>




	<select id="selectGameByCup" resultMap="gameMap">
		SELECT
		game_id,game_date,(select team_name from pypzx_team where
		team_id=g.team_home and cup_id =g.cup_id limit 1) team_home ,(select
		team_name from pypzx_team where team_id=g.team_away and cup_id
		=g.cup_id limit 1) team_away,c.cup_name FROM pypzx_game
		g LEFT JOIN
		pypzx_cup c ON g.cup_id=c.cup_id
		<where>
			<if test="cupId!=null">and g.cup_id=#{cupId}  </if>
		</where>
		and g.game_date>=curdate()
		ORDER BY g.game_date ASC
		LIMIT
		#{page.index},#{page.size}
	</select>
</mapper>