<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.pypzx.FootballSystem.dao.TeamRankMapper" >
  <resultMap id="BaseResultMap" type="club.pypzx.FootballSystem.entity.TeamRank" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="points" property="points" jdbcType="INTEGER" />
    <result column="goals" property="goals" jdbcType="INTEGER" />
    <result column="yellow" property="yellow" jdbcType="INTEGER" />
  </resultMap>
</mapper>