<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="club.pypzx.FootballSystem.dao.WechatAccountMapper">
	<resultMap id="BaseResultMap"
		type="club.pypzx.FootballSystem.entity.WechatAccount">
		<!-- WARNING - @mbg.generated -->
		<result column="openid" jdbcType="VARCHAR" property="openid" />
		<result column="nick_name" jdbcType="VARCHAR"
			property="nickName" />
		<result column="img" jdbcType="VARCHAR" property="img" />
		<result column="player_id" jdbcType="VARCHAR"
			property="playerId" />
		<result column="team_id" jdbcType="VARCHAR" property="teamId" />
	</resultMap>
	<select id="selectByPrimary" resultMap="BaseResultMap">
		SELECT * FROM
		pypzx_wechat_account
		WHERE
		openid=#{value} LIMIT 1
	</select>
</mapper>